@import "tailwindcss";

.servi-blue {
    background-color: #1f3d64;
}
.servi-dark {
    background-color: #1F2F4A;
}
.servi-grey {
    background-color: #293241;
}
.servi-white {
    background-color: #ffffff;
}
.servi-yellow {
    background-color: #D8B462;
}
.servi-blue-font {
    color: #1f3d64;
}
.servi-dark-font {
    color: #1F2F4A;
}
.servi-grey-font {
    color: #293241;
}
.servi-white-font {
    color: #ffffff;
}
.servi-yellow-font {
    color: #D8B462;
}
.servi-yellow-border {
    border-color: #D8B462;
}
.en-espera {
    background-color: #f6ff4c;
}

.btn-servi {
  @apply inline-flex items-center justify-center gap-2 
  rounded-lg px-6 py-2.5 font-bold shadow-sm 
  transition-all duration-200 
  hover:opacity-95 hover:shadow-md hover:-translate-y-[1px] 
  active:translate-y-0 active:shadow-sm;
}
